.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-image: url('../src/assets/images/background.jpg');
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(50px + 2vmin);
  color: white;
}

@font-face {
  font-family: "myFirstFont";
  src: url('../src/assets/fonts/STARWARS/STARWARS.TTF');
}

.App-link {
  color: #61dafb;
}

.card-body {
  background: beige;
  padding: 5px;
  margin-bottom: 30px;
}

.card {
  border-radius: 2px;
  background-color: #FFF;
  overflow: hidden;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.14), 0 2px 2px 0 rgba(0,0,0,.098), 0 1px 5px 0 rgba(0,0,0,.084);
}

.loading {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
